---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Container from "../components/Container.astro";
import Slick from "../components/Slick.astro";
import activities from "../data/activities.json";
import guides from "../data/guides.json";
import craftsman from "../data/craftsman.json";
import hotels from "../data/hotels.json";
import transportation from "../data/transportation.json";


const gradient = "bg-white";
---

<Layout title="Puerto Jiménez">
  <main>
    <Nav />
    <Container>
        <p class="text-gray-700 text-lg leading-relaxed font-lora">
			<span class="font-bold text-green-600">The Puerto Jiménez</span> is a small town in the south of Costa Rica. It is a
          beautiful place with a lot of nature and wildlife. This town is the
          primary gateway to the <span class="font-bold text-green-600"
            >Corcovado National Park</span
          >, one of the most biodiverse places in the world.
        </p>
	</Container>

  <!-- how to get there -->
  <Container>
    <h2 class="text-2xl font-bold text-gray-800 mb-4">How to get there</h2>
    <p class="text-gray-700 text-lg leading-relaxed font-lora">
      The best way to get to Puerto Jiménez is by plane from Juan Santamaría International Airport in San José. You can also take a bus from San José to Puerto Jiménez.
    </p>
    <div class="flex justify-center">
        <a href="/getting-here" class="text-green-600 font-bold">Read more</a>
    </div>
  </Container>

  <!-- the most important places around there -->
  <Container>
    <h2 class="text-2xl font-bold text-gray-800 mb-4">The most important places around there</h2>
    <p class="text-gray-700 text-lg leading-relaxed font-lora">
      Here you can find the most important places around Puerto Jiménez.
    </p>
  </Container>
  <!-- Activities -->
	<Container>
		<Slick
		  list={activities}
		  title="Activities"
		  background="bg-green-200"
		  textColor="text-gray-800"
		/>
	</Container>

	<Container>
      <Slick
        list={guides}
        title="Guides"
        background="bg-green-200"
        textColor="text-gray-800"
      />
	</Container>

	<Container>
      <Slick
        list={craftsman}
        title="Craftsman"
        background="bg-green-200"
        textColor="text-gray-800"
      />
    </Container>

	<Container>
		<Slick
		  list={hotels}
		  title="Hotels"
		  background="bg-green-200"
		  textColor="text-gray-800"
		/>
	</Container>

	<Container>
		<Slick
		  list={transportation}
		  title="Transportation"
		  background="bg-green-200"
		  textColor="text-gray-800"
		/>
	</Container>

	<!-- add a footer -->
	<footer class="text-center text-gray-500 text-sm mt-5 mb-5">
		<p>PuertoJimenez.info &copy; 2024</p>
		<p>Made with ❤️ by <a href="https://wilberth.com" class="mt-2 text-green-600">Wilberth.com</a></p>
	</footer>
  </main>
</Layout>
