---
interface Props {
  title: string;
  body: string;
  href?: string;
  image?: string;
  whatsapp?: string;
  background?: string;
  textColor?: string;
}

const {
  href,
  title,
  body,
  image = "/images/default.jpg",
  whatsapp,
  background = "bg-green-200",
  textColor = "text-gray-800",
} = Astro.props;
---

<div
  class={`relative min-w-[300px] md:min-w-[400px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden ${background} transition-transform transform hover:scale-105`}
>
  {
    image && (
      <img
        src={image}
        alt={title}
        class="object-cover"
      />
    )
  }

  <div class="p-4">
    <a href={href}>
      <h3
        class={`mb-4 text-lg font-bold tracking-tight text-green-600 dark:text-white ${textColor}`}
      >
        {title}
      </h3>
    </a>
    <p class={`mb-4 font-normal text-sm md:text-base text-gray-700 dark:text-gray-400 ${textColor}`}>
      {body}
    </p>
    {
      whatsapp && (
        <a
          href={`https://wa.me/${whatsapp}`}
          class="absolute bottom-4 right-4 inline-flex items-center px-3 py-2 text-xs font-medium text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Contact on WhatsApp"
        >
          WhatsApp
        </a>
      )
    }
  </div>
</div>
